/**
 * DLE-Billing
 * Личный кабинет
 */
.billing-panel
{
	padding-bottom: 15px;
	/*border-bottom: 1px solid #ededed;*/
}

.billing-foto
{
	width: 50px;
	height: 50px;
	margin-right: 10px;
    border-radius: 100px;
    border: 1px solid #f0f0f0;
	float: left;
}

.billing-history-item-image
{
	width: 40px;
	height: 40px;
	border-radius: 100px;
	border: 1px solid #f0f0f0;
}

.billing-balance
{
	font-size: 1.3em;
	font-weight: bold;
	line-height: 22px;
}

.billing-balance span
{
	font-size: 13px;
}

.billing-balance div
{
	float: right;
	margin-top: 7px;
}

.billing-menu
{
	padding-bottom: 25px;
	white-space: nowrap;
	overflow: auto;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.billing-menu::-webkit-scrollbar {
	display: none;
}

.billing-menu-content
{
	padding-top: 13px;
	border-top: 2px solid #ededed;
	width: 100%;
}

.billing-item-active
{
	color: #5a5a5a;
	padding-top: 15px;
	border-top: 2px solid #5a5a5a;
	margin-right: 10px;
}
.billing-item
{
	padding-top: 15px;
	border-top: 2px solid #ededed;
	color: #3394e6;
	margin-right: 10px;
}


.billing-menu a
{
	text-decoration: none !important;
}
œ
.billing-content
{
	margin-top: 20px;
}

/**
 * Таблицы
 */
.billing-table
{
	width: 100%;
	font-size: 13px;
	color: #5a6573;
}

.billing-table tr
{
	border-top: 1px solid #ededed;
}

.billing-table td
{
	padding: 10px 0;
}

.billing-table-round
{
	width: 32px;
	height: 32px;
    border-radius: 100px;
    box-shadow: 0 0 1px #666;
}

/**
 * Постраничная навигация
 */
.billing-pagination
{
	text-align: center;
	margin: 20px
}

.billing-pagination a, .billing-pagination strong
{
	text-decoration:none;
	text-align:center;
	font:12px Verdana, Geneva, sans-serif;
	font-weight:bold;
	color: #3BA4C7;
	background-color:#d1ebf4;
	display: inline-block;
	margin-right: 3px;
	padding: 4px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.billing-pagination a:hover
{
	background: #3BA4C7;
	color: #d1ebf4;
}

.billing-pagination a:active
{
	background: #3BA4C7;
	color: #d1ebf4;
}

.billing-pagination strong
{
	background: #3BA4C7;
	color: #d1ebf4;
}

/**
 * Форма создания платежа
 */
.billing-pay-step
{
	display:block;
	min-height: 60px;
	padding: 10px;
	font-size: 14px;
}

.billing-pay-step input
{
	text-align: right;
}

.billing-pay-label
{
	margin: 2px;
}

.billing-pay-label > img
{
	overflow: hidden;
}

.billing-pay-label > input
{
	visibility: hidden;
	position: absolute;
}
.billing-pay-label > input + div + img
{
	cursor: pointer;
	opacity: 0.5;
}
.billing-pay-label > input:checked + div + img
{
	opacity: 1;
}
.billing-pay-label > input + div
{
	cursor: pointer;
	opacity: 0.5;
}
.billing-pay-label > input:checked + div
{
	opacity: 1;
}

@media only screen and (max-width: 425px) {
	.billing-pay-grid
	{
		display: block !important;
	}
}

.billing-pay-grid
{
	 display: grid;
	 grid-template-columns: 35% 65%;
}

.billing-pay-grid > *
{
	 border-radius: 5px;
	 margin: 1px;
}

.billing-pay-grid p
{
	text-align: center;
	padding-top: 50px;
	clear: both;
}

.billing-btn_clear
{
	background: none;
	border: none;
	cursor: pointer;
}

hr.payment__section
{
	padding: 0;
	margin: 0 0 5px;
}

.payment__desc
{
	padding-top: 6px;
	font-size: 11px;
	color: #333333;
}

.billing-form-item div
{
	font-size: 12px;
	color: grey;
}
.billing-form-item
{
	padding-bottom: 10px;
}

.billing-pay-step-start
{
	background-color: #e7e7e729;
	line-height: 60px;
	border: 1px solid #efe8e8;
}

.billing-pay-fields
{
	background-color: #e7e7e729;
	padding: 10px;
	margin: 0 20px 0 0;
	border: 1px solid #efe8e8;
	border-radius: 5px;
}

/**
* Модальное окно
*/
.billing_modal_footer
{
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	background-color: #eeeeee;
	padding: 15px;
	left: 0;
	width: 92.5%;
}

.billing_modal_footer h2
{
	vertical-align: middle;
	position: absolute;
	top: 23px;
	left: 20px;
}

.billing_modal_footer button
{
	float: right;
}

.billing-pay-btn-active
{
	background-color: #0c5f7ebf;
}

.billing-payment-item
{
	border: 1px solid #f1f1f1;
	border-radius: 10px;
	width: 30%;
	height: 70px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
	font-size: 11px;
	color: #333333;
	overflow: hidden;
}

